


<h3>Part 44 Display Template</h3>
@{
    Layout = null;
}

<link href="~/content/site.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script type="text/javascript">
    $(function () {
        $("input:text.date").datepicker({ dateFormat: "mm/dd/yy" });
    })

</script>

<div style="font-family:Arial">
    @*when you did not know the Employee Object*@


    @*@Html.Display("EmployeeData");*@

    @using (@Html.BeginForm())
    {
        @Html.Editor("EmployeeData")
        <input type="submit" name="Save" />
    }
</div>