@model IEnumerable<MVCExamples.Models.EnitityClass>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
    </tr>
    @foreach (MVCExamples.Models.EnitityClass item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.Name
            </td>
        </tr>

    }
</table>