
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorData</title>
</head>
<body>
    <div> 
        <h1>This is Friendly Error Page</h1>
        <br />
        <h2>An error occurred while processing your request.</h2>

    </div>
</body>
</html>
